html, body {
    margin: 0;
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* INFO MESSAGES */

.alert-info-msg {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #ff0000;
}