html, body {
    margin: 0;
    height: 100%;
}
.navbar {
    border-bottom: 1px solid #dedede;
}
.container {
    margin: 30px auto;
    width: 100%;
    max-width: 100%;
}
#createacc {
    margin-left: 10px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #dedede;
}

/* INFO MESSAGES */

.alert-info-msg {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #ff0000;
}


body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

#controls {
    text-align: left;
    position: absolute;
    margin: 8px;
    padding: 1px 5px 5px 5px;
    background: rgba(230, 230, 250, 0.7);
    opacity: 0.5;
    border-radius: 3px;
    z-index: 1000;
}

    #controls:hover {
        opacity: 1;
    }

.slider-control {
    position: relative;
    top: 3px;
    cursor: grab;
    cursor: -webkit-grab;
}

.slider-control:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.hide-me {
    display: none;
}